.nav {
  display: flex;
  justify-content: space-between;
  // border: 2px solid red;
}
.nav h1 {
  color: blueviolet;
  // padding-top: 10px;
  font-size: 40px;
  // border: 2px solid red;
  padding-top: 10px;
}

.nav ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  // border: 2px solid red;
}
.nav li {
  padding-left: 15px;
  padding-top: 1rem;
}
.nav li a {
  text-decoration: none;
  color: blueviolet;
}
.nav .nav-search input {
  flex: 1;
  color: blueviolet;
  border: 1px solid blueviolet;
  height: 35px;
  border-right: 0;
  padding-left: 1rem;
}
.nav .nav-search button {
  color: blueviolet;
  border: 1px solid blueviolet;
  height: 39px;
  border-left: 0px;
}
.nav-search {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex: 1;
  margin-top: 5px;
}

h1 a {
  color: blueviolet;
  text-decoration: none;
}
