<div class="seler-auth">
  <div class="signup"><h1>Seller Sign-up</h1></div>
  <form
    #sellerSignup="ngForm"
    (ngSubmit)="signUp(sellerSignup.value)"
    class="common-form"
  >
    <input
      class="form-input"
      ngModel
      type="text"
      name="name"
      placeholder="Enter Name"
    />
    <input
      class="form-input"
      ngModel
      type="password"
      name="password"
      placeholder="Enter Password"
    />
    <input
      class="form-input"
      ngModel
      type="email"
      name="email"
      placeholder="Enter Email"
    />
    <button class="form-buttons">SignUp</button>
  </form>
</div>
