body {
  font-family: sans-serif;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.common-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.form-input {
  height: 35px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 1px solid blueviolet;
  color: blueviolet;
}

.form-button {
  cursor: pointer;
  height: 35px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 1px solid blueviolet;
  color: blueviolet;
}

.message-p {
  color: forestgreen;
 justify-content: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
